@import 'lib/emojify';
@import 'lib/textcomplete';

@header-height: 30px;
@url-height: 120px;
@main-area-height: calc(~"100vh -" @header-height + @url-height);

* {
  box-sizing: border-box;
}

#header-title {
  height: @header-height;
  margin: 0;
}

#github-issue-template-maker {
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.gh-template-maker--app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gh-template-editor,
.gh-template-preview {
  width: 50%;
  min-width: 400px;
  height: @main-area-height;
  padding: 10px;
}

.gh-template-url {
  width: 100%;
  height: @url-height;
}

.gh-template-editor {
  input, textarea {
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
  }

  input {
    border: none;
    border-bottom: 1px solid #ccc;
  }

  textarea {
    border: 1px solid #ccc;
  }
}
