@import 'lib/emojify';
@import 'lib/textcomplete';

* {
  box-sizing: border-box;
}

#github-issue-template-maker {
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.gh-template-maker--app {
}

.gh-template-editor {
  input, textarea {
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
  }

  input {
    border: none;
    border-bottom: 1px solid #ccc;
  }

  textarea {
    border: 1px solid #ccc;
  }
}
